ninja  # For faster builds.
psutil
ray
pandas  # Required for Ray data.
pyarrow  # Required for Ray data.
sentencepiece  # Required for LLaMA tokenizer.
numpy
torch
transformers  # Required for Mistral.
xformers # Required for Mistral.
fastapi
uvicorn[standard]
pydantic  # Required for OpenAI server.
